/*成功案例*/
.case {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.picMarquee-left {
    width: 998px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.picMarquee-left .hd3 {
    overflow: hidden;
    height: 30px;
    background: #f4f4f4;
    padding: 0 10px;
}

.picMarquee-left .hd3 .prev, .picMarquee-left .hd3 .next {
    display: block;
    width: 5px;
    height: 9px;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    background: url("../img/arrow.png") no-repeat;
}

.picMarquee-left .hd3 .next {
    background-position: 0 -50px;
}

.picMarquee-left .hd3 .prevStop {
    background-position: -60px 0;
}

.picMarquee-left .hd3 .nextStop {
    background-position: -60px -50px;
}

.picMarquee-left .bd3 {
    width: 100%;
    padding: 10px;
}

.picMarquee-left .bd3 ul {
    overflow: hidden;
    zoom: 1;
}

.picMarquee-left .bd3 ul li {
    margin: 0 8px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}

.picMarquee-left .bd3 ul li .pic {
    text-align: center;
}

.picMarquee-left .bd3 ul li .pic img {
    width: 120px;
    height: 90px;
    display: block;
    padding: 2px;
    border: 1px solid #ccc;
}

.picMarquee-left .bd3 ul li .pic a:hover img {
    border-color: #999;
}

.picMarquee-left .bd3 ul li .title {
    line-height: 24px;
}