/******************************header_top******************************/
/*.header_top {*/
/*width: 100%;*/
/*height: 28px;*/
/*background: #fff;*/
/*text-align: right;*/
/*}*/
/******************************header_logo******************************/
.header_logo {
    width: 100%;
    height: 98px;
    background: url(../img/header_bg.jpg);
}

.header_logo img {
    float: left;
}

.header_logo span {
    width: auto;
    height: 98px;
    line-height: 98px;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
}

.header_logo i {
    font-size: 28px;
    color: red;
}

.header_logo .s_btn {
    display: inline-block;
    width:39px;
    height: 20px;
    margin-left: -5px;
    margin-top:5px;
    background: url("../img/serch.jpg");
}

/******************************header_nav******************************/
.header_nav {
    width: 100%;
    height: 39px;
}

.header_nav ul {
    width: 100%;
    height: 39px;
    background: url(../img/nav_bg.jpg);
}

.header_nav li {
    float: left;
    width: auto;
    height: 39px;
}

.header_nav a {
    display: inline-block;
    width: 98px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

.header_nav a:hover {
    color: #C54A6C;
}

/******************************footer_nav******************************/
.footer_nav {
    margin-top: 15px;
    width: 100%;
    height: 28px;
}

.footer_nav ul {
    width: 700px;
    height: 28px;
    margin: 0 auto;
}

.footer_nav li {
    float: left;
    width: auto;
    height: 28px;
}

.footer_nav a {
    display: inline-block;
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.footer_nav a:hover {
    color: #C54A6C;
}

/******************************footer_copy******************************/
.footer_copy { width: 100%; height: auto; line-height: 24px; text-align: center; letter-spacing: 1px; word-spacing: 1em; font-size: 14px; color: #6E6E6E; }

.footer_copy a:hover { color: #C54A6C;
}

/******************************sidebar******************************/
.sidebar { float: left; width: 211px; height: auto; }

.fenlei { width: 211px; height: auto; }

.fenlei_title { width: 211px; height: 29px; line-height: 29px; text-indent: 1em; color: #FFFFFF; background: url(../img/sidebar_title_bg.jpg); }

.fenlei_content { width: 209px; height: auto; border-left: 1px solid #D0D0D0; border-right: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; background: #FFFFFF; padding-top: 13px; }

.fenlei_content > ul > li > a { display: inline-block; width: 209px; height: 30px; line-height: 30px; text-indent: 5em; background: url(../img/dot.jpg) no-repeat 30px center; }

.fenlei_content > ul > li > ul > li > a { display: inline-block; width: 209px; height: 30px; line-height: 30px;
text-indent: 6em}

/*解决方案*/
.solution {
    margin-top: 15px;
    width: 211px;
    height: 405px;
}

.solution_title {
    width: 211px;
    height: 29px;
    line-height: 29px;
    text-indent: 1em;
    color: #FFFFFF;
    background: url(../img/sidebar_title_bg.jpg);
}

.solution_content {
    width: 209px;
    height: 375px;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    background: #FFFFFF;
}

/*其他*/
.main {
    margin-top: 15px;
}

.box {
    float: right;
    width: 775px;
    height: auto;
}

.title2 {
    width: 775px;
    height: 33px;
    line-height: 33px;
    text-indent: 3.5em;
    letter-spacing: 1px;
    color: #FFFFFF; background: url(../img/title_bg.jpg); }

.content2 {
    padding: 20px 20px;
    width: 733px;
    min-height: 809px;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    background: #FFFFFF;
    overflow: hidden;
}

.detail_product {
}

.product_info {
    display: inline-block;
    float: right;
    padding: 40px;
    width: 344px;
    height: 280px;
}

.zoom {
}

.product_info table tr {
}

.product_info table tr td {
    font-size: 18px;
    line-height: 60px;
}

.product_content b {
    font-size: 16px;
}

.article_info {
    text-align: center;
}

.article_info span {
    margin-right: 50px;
}
.bdmap {
    margin-top:30px;
}


